[submodule "utils/eigen"]
	path = utils/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "utils/spiner"]
	path = utils/spiner
	url = ../spiner.git
[submodule "utils/variant"]
	path = utils/variant
	url = https://github.com/mpark/variant.git
[submodule "utils/kokkos"]
	path = utils/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "utils/ports-of-call"]
	path = utils/ports-of-call
	url = ../ports-of-call.git
