name: Check Formatting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    formatting:
      name: Check Formatting
      runs-on: ubuntu-22.04

      steps:      
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Set system to non-interactive mode
          run: export DEBIAN_FRONTEND=noninteractive
        - name: install dependencies
          run: |
            sudo apt-get update -y -qq
            sudo apt-get install -y --force-yes -qq git clang-format-17
        - name: check formatting
          run: find . -regex '.*\.\(cpp\|hpp\)' | xargs clang-format-17 -style=file -i && git diff --exit-code --ignore-submodules
